
.contact-wrap {
	background-color: #000;
	margin: 30px auto;
		
	@media (min-width: 768px) {
		width: 70%;
		border-radius: 5px;
		text-align: center;
	}
	p {
		@include first-letter($yellow);
		
		font-size: 1.4em;
    	padding: 30px;
    	color: #eee;
    	margin-bottom: 0;
    	}
    a:focus {
    	color: rgba(255,255,255,.7);
   		}
}