

//Variables:
//-----------------------------------------------------------------


//-----fonts:
$PTSans: "PT Sans", sans-serif; // (400,700)
$MavenPro: 'Maven Pro', sans-serif; // (400,500,700,900)
$Raleway: 'Raleway', sans-serif; // (100=>800)
$Cantarell: 'Cantarell', sans-serif; // (400,700)
$Hind: 'Hind', sans-serif; // (300=>700)

//----colors:


