

//Variables:
//-----------------------------------------------------------------


//-----fonts:
$PTSans: "PT Sans", sans-serif; // (400,700)
$MavenPro: 'Maven Pro', sans-serif; // (400,500,700,900)
$Raleway: 'Raleway', sans-serif; // (100=>800)
$Cantarell: 'Cantarell', sans-serif; // (400,700)
$Hind: 'Hind', sans-serif; // (300=>700)

//----colors:

$HTML: #E44D26;
$CSS: blue;
$Sass: #C6538C;
$Bootstrap: #644A8C;
$AJAX: #2E8BC9;
$jQuery: #323232;
$Git: #7F5730;
$JS: #74113F;
