
@import "_variables.scss";
@import "_mixins&extends";

/*--------------------------------Base Styles*/
body { 
	margin: 0;
	padding: 0;
	font-family: $Hind;
}



/*--------------------------------Navbar */
.navbar-reset {
	border: none;
	margin-bottom: 0px;
	font: { family: $Cantarell;
			weight: 500;
			size: 1.2em;
		}
	background: #fff;
	@media (max-width: 768px){
		  border-bottom: 15px solid $yellow;
		  border-right: 15px solid $yellow;
		  }
	@media ( width: 768px) {
		margin-right: -15px;
		}
	}

.nav-border {
	@media (min-width: 769px){
		  border-bottom: 15px solid $yellow;
		  border-right: 15px solid $yellow;
		  }
 }

.page-icon {
	display: none;
	opacity: 0;
	margin-right: 10px;
	color: #000;;
}

.nav-btn {
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	padding: 36px 15px;
	border: none;
	&:focus, &:hover {
		border-radius: 0;
		background-color: #eee !important;
	}
	i {
		display: block;
		font-size: 1.5em;
		color: #000;
		&:first-child {
			font-size: 0.8em;
			font-weight: 700;
			margin-bottom: -10px;
		}
	}

}

.logo-link {
	padding: 0;
}

.logo-img {
	height: 115px;
}

/*--- Jumbotron------------*/
.jumbotron-custom {
	margin-bottom: 0;
	border-radius: 0 !important;
	@media (max-width: 767px) {
		padding: 30px;
	}
	p {
		@include first-letter(#333);
		margin-top: 30px;
	}
	@media (max-width: 992px ) {
		h1 {
			font-size: 30px;
		}
		h2 {
			font-size: 20px;
		}
		p {
			position: relative;
			z-index: 1000;
			font-size: 15px;
			
		}
	}
	.about-btn {
		    background-color: #000;
    		border-radius: 0;
    		font-family: Cantarell;
    		border: none;
    		position: relative;
    		z-index: 1000;
    		&:hover {
    			border: none;
    			color: #999;
    			text-shadow: 0 1px 0 #333;
    		}
	}	
}
/*Portrait------------*/
.portrait-bg {
	background: radial-gradient(rgba(155, 155, 155, 0.1)10%, rgba(255, 255, 255, 1) 70%), url(img/graph-paper.jpg) repeat;;
	background-size: contain;
}
.portrait {
	padding: 40px 40px;
	max-height: 480px;
	margin: auto;
	}
/*--- About section------------*/
.about {
	background: #000;
}
/*----Carousel------------*/
.carousel-bg {
	background: url(img/designer.jpg) no-repeat center center; 
 	 -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    height: 210px;
    @media (max-width: 992px) { height: 300px;}

}

.carousel-text {
		text-align: center;
		.c-text {
			position: relative;
			h2 { 
				background: darken(rgba(0,0,0,0.2), 10%);
				margin: 0;
				line-height: 210px;
				font : {size: 4em; family: $Hind}
				color: #fff;
				text-shadow: 0px 3px 3px #000;

				@media (max-width: 992px) { line-height: 300px;}
				}

		}
	}


.about-text {  
	background:  #000;
	z-index: 1000;
		   	
	p {
		@include first-letter($yellow);
		
		font-size: 1.2em;
    	padding: 30px;
    	color: #eee;
    	margin-bottom: 0;
    	}

}
/*--- Goal section------------*/
 .goal {
 	padding: 40px;
 	h2 {
 		font-size: 25px;
 	}
 	p {
 		font-size: 1.3em;
    	font-family: $Hind;
    	@media (min-width: 768px) {width: 70%; padding-right: 20px;}
    	@media (min-width: 992px) {width: 80%;}
    	color: #333;
    	display: inline-block;
 	}
 	.honeycomb {
 		vertical-align: top;
 		@media (min-width: 768px) {width: 28%; margin-top: 0px;}
    	@media (min-width: 992px) {width: 18%; margin-top: -30px;}	 		
 	}
 }

/*--- Skills section------------*/
.skills {
	background: #000;
	padding: 20px;
	h2 {
 		margin: 0 20px;
 		color: #fff;
 		font-size: 25px;
 		}
 	strong {
 		color: #999;
 		}
	p {
		font-size: 1.2em;
		margin: 20px 20px;
		color: #fff;
	}
	    
}

.skill-HTML {
	@include skill($HTML);
}
.skill-CSS {
	@include skill($CSS);
}

.skill-Sass {
	@include skill($Sass);
}

.skill-Bootstrap {
	@include skill($Bootstrap);
}
.skill-jQuery {
	@include skill($jQuery);
}

.skill-AJAX {
	@include skill($AJAX);
}

.skill-JS {
	@include skill($JS);
}
.skill-Git {
	@include skill($Git);
}

/*--- Projects ------------*/
.projects {
	h2 {
		font-size: 25px;
		font-family: $PTSans;
		text-shadow: 0px 1px 1px #ddd;
		@media (max-width: 767px) {
			    margin-top: 30px;
    			margin-bottom: 0px;
		}
	}
}
.project-p {
		@media (max-width: 768px){
			margin: 0 20px 20px;
		}
		@media (min-width: 768px){
			margin: 20px;
		margin-top: 40px;
		font-size: 1.1em;}
		@media (min-width: 1200px){
			font-size: 1.3em;
			margin: 40px;
			margin-top: 60px;}
		
	}
.project-pic {
	padding: 30px;
	-webkit-filter: grayscale(30%);
	&:hover {
		-webkit-filter: saturate(100%);
        -webkit-filter: drop-shadow(2px 2px 10px #333);
		-webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
         -o-transition: all 0.7s linear;
            transition: all 0.7s linear;
        }
}

/*--- Footer------------*/
.footer-links {
	background: #000;
	padding: 20px 0;
	color: #666;  
	width: 200px;
    height: 100px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    margin: 30px auto 0px;
}
 .arrow {
    	position: relative;
    	top: -8px;
    	font-size: 2em;
    }
a[class="social-icon-link"]{
		padding: 4px;
		position: relative;
		i {
			font-size: 2em;
			color: #bbb;
			&:hover, &:focus {
				color: darken($yellow, 5%);
			}
		}
	}




/*-----------------------------------------page specific*/

@import "_about.scss";
@import "_contact.scss";