.container-fluid-max-width {
  max-width: 1370px;
  margin: auto; }

.vertical-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/*--------------------------------Base Styles*/
body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif; }

/*--------------------------------Navbar */
.navbar-reset {
  border: none;
  margin-bottom: 0px;
  font-family: "Cantarell", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  background: #fff; }
  @media (max-width: 768px) {
    .navbar-reset {
      border-bottom: 15px solid #FFFF00;
      border-right: 15px solid #FFFF00; } }

@media (min-width: 769px) {
  .nav-border {
    border-bottom: 15px solid #FFFF00;
    border-right: 15px solid #FFFF00; } }

.page-icon {
  display: none;
  opacity: 0;
  margin-right: 10px;
  color: #000; }

.nav-btn {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  padding: 36px 15px;
  border: none; }
  .nav-btn:focus, .nav-btn:hover {
    border-radius: 0;
    background-color: #eee !important; }
  .nav-btn i {
    display: block;
    font-size: 1.5em;
    color: #000; }
    .nav-btn i:first-child {
      font-size: 0.8em;
      font-weight: 700;
      margin-bottom: -10px; }

.logo-link {
  padding: 0; }

.logo-img {
  height: 115px; }

/*--- Jumbotron------------*/
.jumbotron-custom {
  margin-bottom: 0;
  border-radius: 0 !important; }
  @media (max-width: 768px) {
    .jumbotron-custom {
      padding: 30px; } }
  .jumbotron-custom p {
    margin-top: 30px; }
    .jumbotron-custom p::first-letter {
      font-size: 200%;
      color: #333;
      line-height: 0.5; }
  @media (max-width: 992px) {
    .jumbotron-custom h1 {
      font-size: 30px; }
    .jumbotron-custom h2 {
      font-size: 20px; }
    .jumbotron-custom p {
      position: relative;
      z-index: 1000;
      font-size: 15px; } }
  .jumbotron-custom .about-btn {
    background-color: #000;
    border-radius: 0;
    font-family: Cantarell;
    border: none;
    position: relative;
    z-index: 1000; }
    .jumbotron-custom .about-btn:hover {
      border: none;
      color: #999;
      text-shadow: 0 1px 0 #333; }

/*Portrait------------*/
.portrait-bg {
  background: radial-gradient(rgba(155, 155, 155, 0.1) 10%, white 70%), url(img/graph-paper.jpg) repeat;
  background-size: contain; }

.portrait {
  padding: 40px 40px;
  max-height: 480px;
  margin: auto; }

/*--- About section------------*/
.about {
  background: #000; }

/*----Carousel------------*/
.carousel-bg {
  background: url(img/designer.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
  border-top: 5px solid black;
  border: 5px solid black;
  height: 210px; }
  @media (max-width: 992px) {
    .carousel-bg {
      height: 300px; } }

.carousel-text {
  text-align: center; }
  .carousel-text .c-text {
    position: relative; }
    .carousel-text .c-text h2 {
      background: rgba(0, 0, 0, 0.2);
      margin: 0;
      line-height: 200px;
      font-size: 4em;
      font-family: "Hind", sans-serif;
      color: #fff;
      text-shadow: 0px 3px 3px #000; }
      @media (max-width: 992px) {
        .carousel-text .c-text h2 {
          line-height: 300px; } }

.about-text {
  background: #000;
  z-index: 1000; }
  .about-text p {
    font-size: 1.2em;
    padding: 30px;
    color: #eee;
    margin-bottom: 0; }
    .about-text p::first-letter {
      font-size: 200%;
      color: #FFFF00;
      line-height: 0.5; }

/*--- Goal section------------*/
.border {
  border-left: 5px solid black;
  padding: 40px; }
  .border p {
    font-size: 1.4em;
    font-family: "Cantarell", sans-serif;
    color: #333;
    display: inline-block; }
    @media (min-width: 768px) {
      .border p {
        width: 70%; } }
    @media (min-width: 992px) {
      .border p {
        width: 80%; } }
  .border .honeycomb {
    vertical-align: top; }
    @media (min-width: 768px) {
      .border .honeycomb {
        width: 28%;
        margin-top: 20px; } }
    @media (min-width: 992px) {
      .border .honeycomb {
        width: 18%;
        margin-top: -20px; } }

/*--- Skills section------------*/
.skills {
  background: #000;
  padding: 20px;
  font-family: "Cantarell", sans-serif; }
  .skills h2 {
    margin: 0 20px;
    font-weight: 700;
    color: #555; }
  .skills strong {
    color: #999; }
  .skills p {
    font-size: 1.2em;
    margin: 20px 20px;
    color: #fff; }

.skill-HTML {
  background-color: #111;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: none;
  height: 30px;
  overflow: visible; }
  .skill-HTML .skill-bar {
    background-color: #d6411b;
    box-shadow: 0 -2px 1px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 7px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px; }
  .skill-HTML span {
    font-size: 1.5em;
    font-family: Cantarell;
    font-weight: 400;
    text-shadow: 0 -2px 1px black;
    color: #eee; }

.skill-CSS {
  background-color: #111;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: none;
  height: 30px;
  overflow: visible; }
  .skill-CSS .skill-bar {
    background-color: #0000e6;
    box-shadow: 0 -2px 1px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 7px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px; }
  .skill-CSS span {
    font-size: 1.5em;
    font-family: Cantarell;
    font-weight: 400;
    text-shadow: 0 -2px 1px black;
    color: #eee; }

.skill-Sass {
  background-color: #111;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: none;
  height: 30px;
  overflow: visible; }
  .skill-Sass .skill-bar {
    background-color: #c0407f;
    box-shadow: 0 -2px 1px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 7px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px; }
  .skill-Sass span {
    font-size: 1.5em;
    font-family: Cantarell;
    font-weight: 400;
    text-shadow: 0 -2px 1px black;
    color: #eee; }

.skill-Bootstrap {
  background-color: #111;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: none;
  height: 30px;
  overflow: visible; }
  .skill-Bootstrap .skill-bar {
    background-color: #58417b;
    box-shadow: 0 -2px 1px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 7px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px; }
  .skill-Bootstrap span {
    font-size: 1.5em;
    font-family: Cantarell;
    font-weight: 400;
    text-shadow: 0 -2px 1px black;
    color: #eee; }

.skill-jQuery {
  background-color: #111;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: none;
  height: 30px;
  overflow: visible; }
  .skill-jQuery .skill-bar {
    background-color: #252525;
    box-shadow: 0 -2px 1px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 7px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px; }
  .skill-jQuery span {
    font-size: 1.5em;
    font-family: Cantarell;
    font-weight: 400;
    text-shadow: 0 -2px 1px black;
    color: #eee; }

.skill-AJAX {
  background-color: #111;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: none;
  height: 30px;
  overflow: visible; }
  .skill-AJAX .skill-bar {
    background-color: #297db4;
    box-shadow: 0 -2px 1px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 7px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px; }
  .skill-AJAX span {
    font-size: 1.5em;
    font-family: Cantarell;
    font-weight: 400;
    text-shadow: 0 -2px 1px black;
    color: #eee; }

.skill-JS {
  background-color: #111;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: none;
  height: 30px;
  overflow: visible; }
  .skill-JS .skill-bar {
    background-color: #5e0e33;
    box-shadow: 0 -2px 1px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 7px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px; }
  .skill-JS span {
    font-size: 1.5em;
    font-family: Cantarell;
    font-weight: 400;
    text-shadow: 0 -2px 1px black;
    color: #eee; }

.skill-Git {
  background-color: #111;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: none;
  height: 30px;
  overflow: visible; }
  .skill-Git .skill-bar {
    background-color: #6c4a29;
    box-shadow: 0 -2px 1px black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 7px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px; }
  .skill-Git span {
    font-size: 1.5em;
    font-family: Cantarell;
    font-weight: 400;
    text-shadow: 0 -2px 1px black;
    color: #eee; }

/*--- Footer------------*/
.footer-links {
  background: #000;
  padding: 20px 0;
  color: #666;
  width: 200px;
  height: 100px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  margin: 30px auto 0px; }
  .footer-links .arrow {
    position: relative;
    top: -8px;
    font-size: 2em; }
  .footer-links a[class="social-icon-link"] {
    padding: 4px;
    position: relative; }
    .footer-links a[class="social-icon-link"] i {
      font-size: 2em;
      color: #bbb; }
      .footer-links a[class="social-icon-link"] i:hover, .footer-links a[class="social-icon-link"] i:focus {
        color: #e6e600; }

.wrapper {
  min-height: 1000px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0.1)), url(img/hongkong.jpg) no-repeat center 20% fixed;
  background-size: cover; }

.about-title {
  margin-right: 40px;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: -2px -2px 2px black; }
  @media (min-width: 992px) {
    .about-title {
      margin-right: 140px; } }

.story {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px; }
  @media (min-width: 992px) {
    .story {
      width: 80%;
      margin: auto; } }
  .story p {
    font-size: 1.2em;
    padding: 30px;
    color: #eee;
    margin-bottom: 0; }
    .story p::first-letter {
      font-size: 200%;
      color: #FFFF00;
      line-height: 0.5; }

.contact-wrap {
  background-color: #000;
  margin: 30px auto; }
  @media (min-width: 768px) {
    .contact-wrap {
      width: 70%;
      border-radius: 5px;
      text-align: center; } }
  .contact-wrap p {
    font-size: 1.4em;
    padding: 30px;
    color: #eee;
    margin-bottom: 0; }
    .contact-wrap p::first-letter {
      font-size: 200%;
      color: #FFFF00;
      line-height: 0.5; }
  .contact-wrap a:focus {
    color: rgba(255, 255, 255, 0.7); }

/*# sourceMappingURL=style.css.map */
